.contenedor__botones {
    display: flex;
    padding-top: 40px;
    height: 35px;
}



@media screen and (min-width: 768px) {
    .contenedor__botones {
        padding-top: 20px;
        width: 434px;
        height: 43px;
        justify-content: space-evenly;
    }
}