.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 488px;
    justify-content: space-evenly;
}

.contenedor {
    width: 330px;
    height: 300px;
    background: var(--background-cronometro-degradado);
    border: 2px solid #144480;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .cuerpo{
        height: 784px;
        justify-content: space-between;
    }

    .contenedor {
        width: 500px;
        height: 350px;
        display: flex;
        justify-content: space-around;
    }
}