.contenedor__inicio-boton {
    width: 180px;
    height: 40px;
    padding: 8px;
    border: 2px solid var(--botones-degradado);
    border-radius: 32px;
    background: var(--botones-degradado);
    color: white;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    .contenedor__inicio-boton {
        margin-bottom: 20px;
    }
}

.contenedor__inicio-boton:hover {
    border: 1px solid #FFFFFF;
}