.cabecera__titulo {
    align-self: center;
    padding-top: 5px;
    width: 251px;
    font-family: var(--unbounded);
    font-size: 1.44em;
    line-height: 150%;
    color: #FFFFFF;
}

.cabecera__titulo-arriba {
    font-weight: 200;
}

.cabecera__titulo-abajo {
    font-weight: 700;
}